        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #272219;     
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .caixa {
            max-width: 100%;
            height: 440px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 5px 5px 0px rgba(55, 16, 0, 0.856);
            background-color: #743c2a;
            color: #ffddb6;
        }

        .caixa h2 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            word-break: break-all;
        }

        header {
            display: flex;
            top: 0;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            background-color: #ff88008e;
            border-radius: 10px;
            box-shadow: 5px 5px 0px black;
            border: 2px solid black;
            width: 98%;
            height: 100px;
            gap: 100px;
            padding: 20px;
        }

        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 20px;
            gap: 20px;
            text-align: center;
        }
        .containerCentralizado{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            gap: 20px;
            text-align: center;
        }
        p {
            font-family: "Bricolage Grotesque", sans-serif;
            padding: 10px;
        }

        header h1 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 4rem;

        }

        article {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        img {
            height: 200px;
            width: 200px;
            object-fit: cover;
        }

        .sideBar{
            margin: 0;
            padding: 0;
            width: auto;
            overflow: hidden;
        }
        .sideBar button {
            display: block;
            padding: 16px;
            text-decoration: none;
            width: 150px;
            height: 20%;
            border-radius: 10px;
            background-color: #272219;
            color: #ffddb6;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .sideBar button:hover{
            background-color:#ffddb6;
            color: #272219;
            transition: 2s ease;
        }
        input{
            text-decoration: none;
            border-radius: 5px;
            background-color: #743d2a70;
            color: #ffddb6;
           
        }
        label{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #ffddb6;
        }
        .caixaNaoEncontrada{
            width: 550px;
            height: 440px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 5px 5px 0px rgba(55, 16, 0, 0.856);
            background-color: #743c2a;
            color: #ffddb6;
        }

        .buttonComprar{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;
            text-decoration: none;
            width: 150px;
            height: 50px;
            border-radius: 10px;
            background-color: rgb(159, 152, 26);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .buttonComprar:hover{
            font-size: 1.1rem;
            transition: 1s ease;
        }